@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sora:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100vh;
  font-family: 'Nunito', sans-serif !important;
}

.no-underline {
  text-decoration: none !important;
}
